<?xml version="1.0"?>
<config>
    <modules>
        <Getsquare_Reserve>
            <version>1.0.1</version>
        </Getsquare_Reserve>
    </modules>
    <global>
        <blocks>
            <reserve>
                <class>Getsquare_Reserve_Block</class>
            </reserve>
        </blocks>
        <helpers>
            <reserve>
                <class>Getsquare_Reserve_Helper</class>
            </reserve>
        </helpers>
        <models>
            <reserve>
                <class>Getsquare_Reserve_Model</class>
                <resourceModel>reserve_resource</resourceModel>
            </reserve>
            <reserve_resource>
                <class>Getsquare_Reserve_Model_Resource</class>
                <entities>
                    <reserve>
                        <table>reserve_reserve</table>
                    </reserve>
                </entities>
            </reserve_resource>
        </models>
        <resources>
            <reserve_setup>
                <setup>Getsquare_Reserve_Model</setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </reserve_setup>
            <reserve_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </reserve_read>
            <reserve_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </reserve_write>
        </resources>
    </global>
    <default>
        <reserve>
            <config>
                <cron>*/5 * * * *</cron>
            </config>
        </reserve>
    </default>
    <frontend>
        <routers>
            <reserve>
                <use>standard</use>
                <args>
                    <module>Getsquare_Reserve</module>
                    <frontName>reserve</frontName>
                </args>
            </reserve>
        </routers>
        <layout>
            <updates>
                <getsquare_reserve>
                    <file>getsquare_reserve.xml</file>
                </getsquare_reserve>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <menu>
            <getsquare>
                <title>Getsquare Modules</title>
                <sort_order>71</sort_order>
                <children>
                    <items module="reserve">
                        <title>Reserved Items</title>
                        <sort_order>0</sort_order>
                        <action>reserve/adminhtml_reserve</action>
                    </items>
                </children>
            </getsquare>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Getsquare_Reserve>
                            <title>Reserve in Store</title>
                            <sort_order>10</sort_order>
                        </Getsquare_Reserve>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <reserve>
                    <file>getsquare_reserve.xml</file>
                </reserve>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <reserve>
                <schedule>
                    <config_path>reserve/config/cron</config_path>
                </schedule>
                <run>
                    <model>reserve/observer::checkOldOrders</model>
                </run>
            </reserve>
        </jobs>
    </crontab>
</config>
